# Pandas Basics for Scientists

Data manipulation and analysis with pandas - essential concepts

In [1]:
import pandas as pd
import numpy as np

# Display more columns and rows
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

## Creating DataFrames and Series

In [ ]:
# Series (1D labeled array)
temperatures = pd.Series([23.1, 24.5, 22.8, 25.2, 26.1], 
                        index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri'])
print("Temperature Series:")
print(temperatures)
print(f"\nWednesday temp: {temperatures['Wed']}")

# DataFrame from dictionary
experiment_data = {
    'sample_id': ['A1', 'A2', 'A3', 'B1', 'B2'],
    'concentration': [0.1, 0.2, 0.15, 0.3, 0.25],
    'temperature': [25.0, 25.5, 24.8, 26.2, 25.9],
    'ph': [7.2, 7.4, 7.1, 6.8, 7.0]
}

# for data frame, create a dict with values as lists of same length. keys become column headers. 
df = pd.DataFrame(experiment_data)
print("\nExperiment DataFrame:")
print(df)

Temperature Series:
Mon    23.1
Tue    24.5
Wed    22.8
Thu    25.2
Fri    26.1
dtype: float64

Wednesday temp: 22.8

Experiment DataFrame:
  sample_id  concentration  temperature   ph
0        A1           0.10         25.0  7.2
1        A2           0.20         25.5  7.4
2        A3           0.15         24.8  7.1
3        B1           0.30         26.2  6.8
4        B2           0.25         25.9  7.0

## Basic DataFrame Operations

In [7]:
# DataFrame info
print("DataFrame shape:", df.shape)
print("\nColumn names:", df.columns.tolist())
print("\nColumn names:", df.columns)
print("\nData types:")
print(df.dtypes)

# First/last rows
print("\nFirst 3 rows:")
print(df.head(3))
print(df.tail(3))

# Basic statistics
print("\nSummary statistics:")
print(df.describe()) #!! this one is useful!

DataFrame shape: (5, 4)

Column names: ['sample_id', 'concentration', 'temperature', 'ph']

Column names: Index(['sample_id', 'concentration', 'temperature', 'ph'], dtype='object')

Data types:
sample_id         object
concentration    float64
temperature      float64
ph               float64
dtype: object

First 3 rows:
  sample_id  concentration  temperature   ph
0        A1           0.10         25.0  7.2
1        A2           0.20         25.5  7.4
2        A3           0.15         24.8  7.1
  sample_id  concentration  temperature   ph
2        A3           0.15         24.8  7.1
3        B1           0.30         26.2  6.8
4        B2           0.25         25.9  7.0

Summary statistics:
       concentration  temperature        ph
count       5.000000     5.000000  5.000000
mean        0.200000    25.480000  7.100000
std         0.079057     0.589067  0.223607
min         0.100000    24.800000  6.800000
25%         0.150000    25.000000  7.000000
50%         0.200000    25.500000  7.100000
75%         0.250000    25.900000  7.200000
max         0.300000    26.200000  7.400000

## Selecting and Indexing

In [12]:
print("Dataframe:\n")
print(df)

# Column selection
print("Temperature column:")
print(df['temperature'])

# Column selection by index
print("Temperature column:")
print(df.iloc[:,2])

# Multiple columns
print("\nTemperature and pH:")
print(df[['temperature', 'ph']])

# Multiple columns
print("\nConc and pH:")
print(df.iloc[:,[1,3]])

# Row selection by index
print("\nFirst row:")
print(df.iloc[0])  # by position #!! note how to use index to get row. 

# Row selection by condition
print("\nHigh concentration samples:")
high_conc = df[df['concentration'] > 0.2]
print(high_conc)

# Multiple conditions
filtered = df[(df['temperature'] > 25) & (df['ph'] > 7)]
print("\nHigh temp AND high pH:")
print(filtered)

Dataframe:

  sample_id  concentration  temperature   ph
0        A1           0.10         25.0  7.2
1        A2           0.20         25.5  7.4
2        A3           0.15         24.8  7.1
3        B1           0.30         26.2  6.8
4        B2           0.25         25.9  7.0
Temperature column:
0    25.0
1    25.5
2    24.8
3    26.2
4    25.9
Name: temperature, dtype: float64
Temperature column:
0    25.0
1    25.5
2    24.8
3    26.2
4    25.9
Name: temperature, dtype: float64

Temperature and pH:
   temperature   ph
0         25.0  7.2
1         25.5  7.4
2         24.8  7.1
3         26.2  6.8
4         25.9  7.0

Conc and pH:
   concentration   ph
0           0.10  7.2
1           0.20  7.4
2           0.15  7.1
3           0.30  6.8
4           0.25  7.0

First row:
sample_id          A1
concentration     0.1
temperature      25.0
ph                7.2
Name: 0, dtype: object

High concentration samples:
  sample_id  concentration  temperature   ph
3        B1           0.30         26.2  6.8
4        B2           0.25         25.9  7.0

High temp AND high pH:
  sample_id  concentration  temperature   ph
1        A2            0.2         25.5  7.4

## Data Manipulation

In [ ]:
# Adding new columns
df['temp_fahrenheit'] = df['temperature'] * 9/5 + 32
df['ph_category'] = df['ph'].apply(lambda x: 'acidic' if x < 7 else 'neutral' if x == 7 else 'basic')
#!! this was cool. lambda functions on df via apply (and conditionals)
print("DataFrame with new columns:")
print(df)

# Sorting
print("\nSorted by concentration:")
print(df.sort_values('concentration'))

# Grouping
print("\nGrouped by pH category:")
grouped = df.groupby('ph_category')['temperature'].mean()
print(grouped)

DataFrame with new columns:
  sample_id  concentration  temperature   ph  temp_fahrenheit ph_category
0        A1           0.10         25.0  7.2            77.00       basic
1        A2           0.20         25.5  7.4            77.90       basic
2        A3           0.15         24.8  7.1            76.64       basic
3        B1           0.30         26.2  6.8            79.16      acidic
4        B2           0.25         25.9  7.0            78.62     neutral

Sorted by concentration:
  sample_id  concentration  temperature   ph  temp_fahrenheit ph_category
0        A1           0.10         25.0  7.2            77.00       basic
2        A3           0.15         24.8  7.1            76.64       basic
1        A2           0.20         25.5  7.4            77.90       basic
4        B2           0.25         25.9  7.0            78.62     neutral
3        B1           0.30         26.2  6.8            79.16      acidic

Grouped by pH category:
ph_category
acidic     26.2
basic      25.1
neutral    25.9
Name: temperature, dtype: float64

In [14]:
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by: 'IndexLabel', *, axis: 'Axis' = 0, ascending: 'bool | list[bool] | tuple[bool, ...]' = True, inplace: 'bool' = False, kind: 'SortKind' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc | None' = None) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
    by : str or list of str
        Name or list of names to sort by.

        - if `axis` is 0 or `'index'` then `by` may contain index
          levels and/or column labels.
        - if `axis` is 1 or `'columns'` then `by` may contain column
          levels and/or index labels.
    axis : "{0 or 'index', 1 or 'columns'}", default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...     by="time",
    ...     key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [15]:
help(df.groupby)

Help on method groupby in module pandas.core.frame:

groupby(by=None, axis: 'Axis | lib.NoDefault' = <no_default>, level: 'IndexLabel | None' = None, as_index: 'bool' = True, sort: 'bool' = True, group_keys: 'bool' = True, observed: 'bool | lib.NoDefault' = <no_default>, dropna: 'bool' = True) -> 'DataFrameGroupBy' method of pandas.core.frame.DataFrame instance
    Group DataFrame using a mapper or by a Series of columns.

    A groupby operation involves some combination of splitting the
    object, applying a function, and combining the results. This can be
    used to group large amounts of data and compute operations on these
    groups.

    Parameters
    ----------
    by : mapping, function, label, pd.Grouper or list of such
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If a list or ndarray of length
        equal to the selected axis is passed (see the `groupby user guide
        <https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html#splitting-an-object-into-groups>`_),
        the values are used as-is to determine the groups. A label or list
        of labels may be passed to group by the columns in ``self``.
        Notice that a tuple is interpreted as a (single) key.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Split along rows (0) or columns (1). For `Series` this parameter
        is unused and defaults to 0.

        .. deprecated:: 2.1.0

            Will be removed and behave like axis=0 in a future version.
            For ``axis=1``, do ``frame.T.groupby(...)`` instead.

    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels. Do not specify both ``by`` and ``level``.
    as_index : bool, default True
        Return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output. This argument has no effect
        on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).
    sort : bool, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group. Groupby preserves the order of rows within each group. If False,
        the groups will appear in the same order as they did in the original DataFrame.
        This argument has no effect on filtrations (see the `filtrations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#filtration>`_),
        such as ``head()``, ``tail()``, ``nth()`` and in transformations
        (see the `transformations in the user guide
        <https://pandas.pydata.org/docs/dev/user_guide/groupby.html#transformation>`_).

        .. versionchanged:: 2.0.0

            Specifying ``sort=False`` with an ordered categorical grouper will no
            longer sort the values.

    group_keys : bool, default True
        When calling apply and the ``by`` argument produces a like-indexed
        (i.e. :ref:`a transform <groupby.transform>`) result, add group keys to
        index to identify pieces. By default group keys are not included
        when the result's index (and column) labels match the inputs, and
        are included otherwise.

        .. versionchanged:: 1.5.0

           Warns that ``group_keys`` will no longer be ignored when the
           result from ``apply`` is a like-indexed Series or DataFrame.
           Specify ``group_keys`` explicitly to include the group keys or
           not.

        .. versionchanged:: 2.0.0

           ``group_keys`` now defaults to ``True``.

    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. deprecated:: 2.1.0

            The default value will change to True in a future version of pandas.

    dropna : bool, default True
        If True, and if group keys contain NA values, NA values together
        with row/column will be dropped.
        If False, NA values will also be treated as the key in groups.

    Returns
    -------
    pandas.api.typing.DataFrameGroupBy
        Returns a groupby object that contains information about the groups.

    See Also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

    Notes
    -----
    See the `user guide
    <https://pandas.pydata.org/pandas-docs/stable/groupby.html>`__ for more
    detailed usage and examples, including splitting an object into groups,
    iterating through groups, selecting a group, aggregation, and more.

    Examples
    --------
    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df
       Animal  Max Speed
    0  Falcon      380.0
    1  Falcon      370.0
    2  Parrot       24.0
    3  Parrot       26.0
    >>> df.groupby(['Animal']).mean()
            Max Speed
    Animal
    Falcon      375.0
    Parrot       25.0

    **Hierarchical Indexes**

    We can groupby different levels of a hierarchical index
    using the `level` parameter:

    >>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...           ['Captive', 'Wild', 'Captive', 'Wild']]
    >>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
    >>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
    ...                   index=index)
    >>> df
                    Max Speed
    Animal Type
    Falcon Captive      390.0
           Wild         350.0
    Parrot Captive       30.0
           Wild          20.0
    >>> df.groupby(level=0).mean()
            Max Speed
    Animal
    Falcon      370.0
    Parrot       25.0
    >>> df.groupby(level="Type").mean()
             Max Speed
    Type
    Captive      210.0
    Wild         185.0

    We can also choose to include NA in group keys or not by setting
    `dropna` parameter, the default setting is `True`.

    >>> l = [[1, 2, 3], [1, None, 4], [2, 1, 3], [1, 2, 2]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by=["b"]).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5

    >>> df.groupby(by=["b"], dropna=False).sum()
        a   c
    b
    1.0 2   3
    2.0 2   5
    NaN 1   4

    >>> l = [["a", 12, 12], [None, 12.3, 33.], ["b", 12.3, 123], ["a", 1, 1]]
    >>> df = pd.DataFrame(l, columns=["a", "b", "c"])

    >>> df.groupby(by="a").sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0

    >>> df.groupby(by="a", dropna=False).sum()
        b     c
    a
    a   13.0   13.0
    b   12.3  123.0
    NaN 12.3   33.0

    When using ``.apply()``, use ``group_keys`` to include or exclude the
    group keys. The ``group_keys`` argument defaults to ``True`` (include).

    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df.groupby("Animal", group_keys=True)[['Max Speed']].apply(lambda x: x)
              Max Speed
    Animal
    Falcon 0      380.0
           1      370.0
    Parrot 2       24.0
           3       26.0

    >>> df.groupby("Animal", group_keys=False)[['Max Speed']].apply(lambda x: x)
       Max Speed
    0      380.0
    1      370.0
    2       24.0
    3       26.0

## Handling Missing Data

In [18]:
# Create data with missing values
messy_data = {
    'sample': ['C1', 'C2', 'C3', 'C4', 'C5'],
    'value1': [1.2, np.nan, 3.4, 2.1, np.nan],
    'value2': [5.6, 7.8, np.nan, 9.1, 4.3]
}
messy_df = pd.DataFrame(messy_data)

print("Data with missing values:")
print(messy_df)
print(f"\nMissing values per column:")
print(messy_df.isnull().sum())

# Fill missing values
filled_mean = messy_df.fillna(messy_df.mean(numeric_only=True))
print("\nFilled with column means:")
print(filled_mean)

# Drop rows with missing values
clean_df = messy_df.dropna()
print("\nRows without missing values:")
print(clean_df)

Data with missing values:
  sample  value1  value2
0     C1     1.2     5.6
1     C2     NaN     7.8
2     C3     3.4     NaN
3     C4     2.1     9.1
4     C5     NaN     4.3

Missing values per column:
sample    0
value1    2
value2    1
dtype: int64

Filled with column means:
  sample    value1  value2
0     C1  1.200000     5.6
1     C2  2.233333     7.8
2     C3  3.400000     6.7
3     C4  2.100000     9.1
4     C5  2.233333     4.3

Rows without missing values:
  sample  value1  value2
0     C1     1.2     5.6
3     C4     2.1     9.1

## Reading and Writing Data

In [19]:
# Save DataFrame to CSV
df.to_csv('experiment_results.csv', index=False)

# Read CSV back
loaded_df = pd.read_csv('experiment_results.csv')
print("Loaded from CSV:")
print(loaded_df.head())

# Save to Excel (if openpyxl is available)
try:
    df.to_excel('experiment_results.xlsx', index=False)
    print("\nSaved to Excel successfully")
except ImportError:
    print("\nExcel export requires openpyxl package")

# Clean up
import os
os.remove('experiment_results.csv')
if os.path.exists('experiment_results.xlsx'):
    os.remove('experiment_results.xlsx')

Loaded from CSV:
  sample_id  concentration  temperature   ph  temp_fahrenheit ph_category
0        A1           0.10         25.0  7.2            77.00       basic
1        A2           0.20         25.5  7.4            77.90       basic
2        A3           0.15         24.8  7.1            76.64       basic
3        B1           0.30         26.2  6.8            79.16      acidic
4        B2           0.25         25.9  7.0            78.62     neutral

Excel export requires openpyxl package

## Data Aggregation and Pivot Tables

In [20]:
# Create larger dataset for aggregation
np.random.seed(42)
large_data = {
    'treatment': np.random.choice(['A', 'B', 'C'], 30),
    'timepoint': np.tile(['T1', 'T2', 'T3'], 10),
    'measurement': np.random.normal(10, 2, 30),
    'replicate': np.tile(range(1, 11), 3)
}
large_df = pd.DataFrame(large_data)

print("Sample of large dataset:")
print(large_df.head())

# Group by multiple columns
summary = large_df.groupby(['treatment', 'timepoint']).agg({
    'measurement': ['mean', 'std', 'count']
})
print("\nGrouped summary:")
print(summary)

# Pivot table
pivot = large_df.pivot_table(
    values='measurement', 
    index='treatment', 
    columns='timepoint', 
    aggfunc='mean'
)
print("\nPivot table:")
print(pivot)

Sample of large dataset:
  treatment timepoint  measurement  replicate
0         C        T1     9.143908          1
1         A        T2     8.515186          2
2         C        T3     8.593312          3
3         C        T1     5.720759          4
4         A        T2     8.741050          5

Grouped summary:
                    measurement
                           mean       std count
treatment timepoint
A         T1          10.719955  1.053743     4
          T2           9.673253  1.813746     3
          T3           8.882344  2.019497     3
B         T1           9.541099       NaN     1
          T2          11.514123  2.832725     4
          T3          10.111040  2.217714     3
C         T1           9.157237  3.632748     5
          T2           9.691925  1.607277     3
          T3           9.914087  1.500883     4

Pivot table:
timepoint         T1         T2         T3
treatment
A          10.719955   9.673253   8.882344
B           9.541099  11.514123  10.111040
C           9.157237   9.691925   9.914087

## Merging and Joining DataFrames

In [21]:
# Create two related datasets
samples = pd.DataFrame({
    'sample_id': ['A1', 'A2', 'B1', 'B2'],
    'concentration': [0.1, 0.2, 0.3, 0.25]
})

results = pd.DataFrame({
    'sample_id': ['A1', 'A2', 'B1', 'C1'],
    'absorbance': [0.45, 0.67, 0.89, 0.32]
})

print("Samples:")
print(samples)
print("\nResults:")
print(results)

# Inner join (only matching records)
inner_merged = pd.merge(samples, results, on='sample_id', how='inner')
print("\nInner join:")
print(inner_merged)

# Left join (all samples, matching results)
left_merged = pd.merge(samples, results, on='sample_id', how='left')
print("\nLeft join:")
print(left_merged)

# Concatenate DataFrames
more_samples = pd.DataFrame({
    'sample_id': ['C1', 'C2'],
    'concentration': [0.4, 0.35]
})
all_samples = pd.concat([samples, more_samples], ignore_index=True)
print("\nConcatenated samples:")
print(all_samples)

Samples:
  sample_id  concentration
0        A1           0.10
1        A2           0.20
2        B1           0.30
3        B2           0.25

Results:
  sample_id  absorbance
0        A1        0.45
1        A2        0.67
2        B1        0.89
3        C1        0.32

Inner join:
  sample_id  concentration  absorbance
0        A1            0.1        0.45
1        A2            0.2        0.67
2        B1            0.3        0.89

Left join:
  sample_id  concentration  absorbance
0        A1           0.10        0.45
1        A2           0.20        0.67
2        B1           0.30        0.89
3        B2           0.25         NaN

Concatenated samples:
  sample_id  concentration
0        A1           0.10
1        A2           0.20
2        B1           0.30
3        B2           0.25
4        C1           0.40
5        C2           0.35

## Time Series Basics

In [ ]:
# Create time series data
dates = pd.date_range('2023-01-01', periods=10, freq='D')
time_series = pd.DataFrame({
    'date': dates,
    'temperature': np.random.normal(25, 3, 10),
    'humidity': np.random.normal(60, 10, 10)
})

# Set date as index
time_series.set_index('date', inplace=True) #!! row names
print("Time series data:")
print(time_series)

# Resample to weekly averages
weekly = time_series.resample('W').mean()
print("\nWeekly averages:")
print(weekly)

# Rolling window calculations
time_series['temp_rolling_3day'] = time_series['temperature'].rolling(window=3).mean()
print("\nWith 3-day rolling average:")
print(time_series.tail())

Time series data:
            temperature   humidity
date
2023-01-01    20.959966  44.918467
2023-01-02    22.358226  70.996470
2023-01-03    21.608343  58.222679
2023-01-04    25.403287  55.896167
2023-01-05    26.746368  71.797163
2023-01-06    27.663245  51.017921
2023-01-07    27.682997  68.347954
2023-01-08    27.264993  62.965614
2023-01-09    24.378502  49.621701
2023-01-10    23.129568  59.241963

Weekly averages:
            temperature   humidity
date
2023-01-01    20.959966  44.918467
2023-01-08    25.532494  62.749138
2023-01-15    23.754035  54.431832

With 3-day rolling average:
            temperature   humidity  temp_rolling_3day
date
2023-01-06    27.663245  51.017921          26.604300
2023-01-07    27.682997  68.347954          27.364204
2023-01-08    27.264993  62.965614          27.537079
2023-01-09    24.378502  49.621701          26.442164
2023-01-10    23.129568  59.241963          24.924355